@tailwind base;

@tailwind components;

.hello-world {
  color: hotpink;
  animation: blink 1s linear infinite;
  font-size: 100px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

html {
  font-size: 25px;
}

button {
  @apply bg-red-800 font-bold py-4 px-6 shadow-md;
}

button:hover {
  @apply bg-red-600
}

button.loading {
  @apply bg-gray-400
}


.layout {
  @apply mx-auto min-h-screen flex flex-col items-center justify-center p-5 bg-green-900 text-white text-lg;
}

.button-group {
  @apply flex my-4;
}

.button-group button {
  @apply mx-3;
}

.card-container {
  @apply rounded bg-white p-5 text-4xl flex items-center justify-center mr-4;
  width: 7rem;
  height: 10rem;
}

.card-container:last-child {
  margin-right: 0;
}

.card-rank {
  @apply ml-2;
}

.spades, .clubs {
  @apply text-gray-800;
}

.diamonds, .hearts {
  @apply text-red-500;
}

.deck {
  @apply flex flex-col items-center justify-center mb-5
}

.cards {
  @apply flex my-3
}

.score {

}

.error {
  @apply text-red-500;
}

@tailwind utilities;